
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-dark:rgba(255,255,255,0)
}
body{
 font-family:"Roboto Condesed" sans-serif; 
}

.navbar-brand img{
  max-width: 17.25rem;

    height:40px !important;
    padding-left:0 !important;
    margin-top: 10px;
  }
.nav-link{
    font-weight:500;
    letter-spacing:0.6px;
    cursor:pointer;
    text-transform:uppercase;

}
.navbar-nav >li> a{
  margin-right:12px;
  margin-left: 12px;
  color:var(--primary-white) !important;
  border-top:3px solid var(--primary-dark) ;
}

.navbar-nav>li>a.active, .navbar-nav>li>a.active:focus{
  border-top: 3px solid var(--primary-orange) !important;

}
.navbar-nav>li>a:hover{
  border-top: 3px solid var(--primary-orange) !important;
}


.navbar-toggler{
  color:#fff !important;
}